@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body, html {
	margin: 0;
	height: 100%;
	min-width: 755px;
	background: #0E1823;
}

.aligned-content {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

/* Navigation menu */

.nav-menu {
	background-color: #0E1823;
	height: 80px;
	/*
	position: fixed;
	*/
	width: 90%;
	top: 0;
	display: none;
	z-index: 10;
	display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu .logo-main img {
	max-height: 50px;
}

.nav-menu .get-started {
	color: #fff;
	background: #484B50;
	display: block;
    width: 200px;
    padding: 16px 0;
    border-radius: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.nav-menu .get-started:hover {
	color: #484B50;
	background: #fff;
	text-decoration: none;
}
.nav-menu .navigate-links a {
	margin: auto 20px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: #fff;
}

/* Navigation menu */


/* Main section */

.main-section {
	text-align: center;
	color: #fff;
}

.main-section .main-header {
	font-size: 55px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.main-section .main-description {
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.main-section .main-remark {
	font-size: 18px;
	opacity: 0.5;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.main-section .stores-buttons {
	margin-top: 50px;
	margin-bottom: 100px;
}

.main-section .stores-buttons a img {
	width: 100%;
    max-width: 218px;
}
.main-section .line-section {
	width: 100%;
}
/* Main section */

.line-section {
	height: 1px;
	background: #fff;
	opacity: 0.2;
}

/* Choice section */

.choice-section {
	display: inline-block;
	width: 100%;
}

.choice-section .start-point {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 26px;
}

.choice-section .destination-point {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 24px;
}

.choice-section .start-point .position,
.choice-section .destination-point .position {
	display: inline-block;
	vertical-align: top;
	opacity: 0.5;
	font-weight: 300;
	padding-right: 20px;
}

.choice-section .start-point .address-data,
.choice-section .destination-point .address-data {
	display: inline-block;
	margin-top: 0;
	font-size: 26px;
}

.choice-section .start-point .address-data .city,
.choice-section .destination-point .address-data .city {
	display: block;
	opacity: 0.5;
	font-weight: 300;
	line-height: 3;
}

.choice-section .choice-information {
	display: inline-flex;
    justify-content: space-between;
    margin-top: 50px;
}

.choice-section .choice-information .information-data .info-list {
	padding: 0;
	list-style: none;
	width: 100%;
	max-width: 402px;
	text-align: justify;
	color: #fff;
	margin-top: 0;
}

.choice-section .choice-information .information-data .info-list .item-seprator {
	opacity: 0.5;
    font-size: 24px;
    vertical-align: text-bottom;
    padding: 0 5px;
}

.choice-section .choice-information .information-data .info-list li {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
	margin-bottom: 30px;
}
.choice-section .choice-information .information-data .info-list li span {
	opacity: 0.5;
}
.choice-section .choice-information .information-data .info-list li .line-breaker {
	width: 100%;
}

.choice-section .choice-menu {
	width: 90%;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    list-style: none;
    background: #121C27;
    margin-top: 100px;
}
.choice-section .choice-menu li {
	width: 22.5%;
	text-align: center;
	height: 75px;
	position: relative;
	border-bottom: 3px solid transparent;
}

.choice-section .choice-menu li a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	opacity: 0.2;
	width: 100%;
	display: inline-block;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
}
.choice-section .choice-menu li.selected-choice {
	border-bottom: 3px solid #2FCC71;
}
.choice-section .choice-menu li.selected-choice a {
	color: #2FCC71;
	opacity: 1;
}

.choice-section .choice-menu li:hover a {
	opacity: 1;
}

.choice-section .choice-submenu {
	margin-bottom: 50px;
}

.choice-section .choice-submenu .cars-list {
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 100px;
}

.choice-section .choice-submenu .cars-list .cars-list-item {
	width: 22.5%;
    background: rgba(255,255,255,0.2);
    padding-bottom: 20px;
    border-radius: 15px;
    position: relative;
    text-align: center;
}
.choice-section .choice-submenu .cars-list .cars-list-item a {
	text-decoration: none;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 22px;
}
.choice-section .choice-submenu .cars-list .cars-list-item img {
	width: 50%;
	display: inline-block;
	margin: auto;
	vertical-align: bottom;
}
.choice-section .choice-submenu .cars-list .cars-list-item a {
	display: block;
	height: 100%;
}
.choice-section .choice-submenu .cars-list .cars-list-item a .cars-header {
	display: block;
	margin: 10px auto 20px;
}
.choice-section .choice-submenu .cars-list .cars-list-item a .separator {
	display: inline-block;
    height: 50%;
    vertical-align: middle;
}
.choice-section .choice-submenu .cars-list .selected-car-item {
	background: #fff;
}
.choice-section .choice-submenu .cars-list .selected-car-item a {
	color: #0E1823;
}
.choice-section .choice-submenu .cars-list .selected-car-item::after {
	content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    margin: auto;
    left: 0;
    right: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #fff;
}


/* Choice section */

/* Detailed choice */

.detailed-choice {
	display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detailed-choice .left-side {
	display: inline-block;
	width: 44%;
}

.detailed-choice .left-side .detailed-header {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 55px;
	font-weight: 900;
    margin-bottom: 20px;
}

.detailed-choice .left-side .detailed-description {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5;
}

.detailed-choice .line-section {
	width: 100%;
	margin: 50px auto;
}
.detailed-choice .points-list {
	padding: 0;
	margin-left: -12px;
}
.detailed-choice .points-list .points-list-item {
	display: inline-block;
}

.detailed-choice .points-list .points-list-item span {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 20px;
	font-weight: 900;
	vertical-align: super;
}

.detailed-choice .points-list .points-list-item:before {
	content: '\00a0\2022\00a0\00a0';
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color:#fff;
	opacity: 0.2;
	font-size: 60px;
    vertical-align: sub;
}

.detailed-choice .right-side {
	display: inline-block;
	text-align: right;
}

.detailed-choice .right-side .continue-link {
	font-family: 'Lato', sans-serif;
	color: #2FCC71;
	font-size: 26px;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
    margin-top: 18px;
}

.detailed-choice .right-side .price-header {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color:#fff;
	font-size: 55px;
	margin-bottom: 20px;
}

.detailed-choice .right-side .price-header .price-currency {
	font-weight: 300;
}

.detailed-choice .right-side .price-details {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color:#fff;
	font-size: 24px;
	opacity: 0.5;
	height: 70px;
}

/* Detailed choice */


/* Detailed choice subsection */

.detailed-choice-subsection {
	display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.detailed-choice-subsection .left-side {
	width: 49%;
}

.detailed-choice-subsection .left-side .features-list {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.detailed-choice-subsection .left-side .features-list .features-list-item {

}

.detailed-choice-subsection .left-side .features-list .features-list-item:before {
	content: '\00a0\2022\00a0\00a0';
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color:#fff;
	opacity: 0.2;
	font-size: 60px;
    vertical-align: sub;
}

.detailed-choice-subsection .left-side .features-list .features-list-item span {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	vertical-align: super;
}

.detailed-choice-subsection .right-side {
	display: inline-block;
    background: rgba(255,255,255,0.2);
    padding: 60px 0;
    width: 100%;
    max-width: 560px;
    height: 100%;
    text-align: center;
    border-radius: 15px;
}

.detailed-choice-subsection .right-side img {
	width: 100%;
	max-width: 440px;
}

/* Detailed choice subsection */


/* Footer */

footer {
	display: inline-block;
	width: 100%;
	background: #121C27;
}

footer .aligned-content {
	display: inline-flex;
}

footer .footer-logo {
	width: 100%;
	max-width: 45px;
}

footer .download-appstore img {
	max-width: 135px;
	width: 100%;
}

footer .download-googleplay img {
	max-width: 135px;
	width: 100%;
}

footer .media-links a {
	background: #484B50;
	padding: 10px;
	border-radius: 20px;
}

footer .media-links img {
	width: 16px;
}

footer .footer-bottom {
	background: #0E1823;
}

footer p {
	color: #fff;
	opacity: 0.5;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

footer h3 {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

footer input {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

footer button {
	background: #484B50;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

footer .footer-bottom .left-side {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
}

footer .footer-bottom .right-side ul li {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
}

/* Footer */

@media screen and (max-width: 1330px) {

}