@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body, html {
	margin: 0;
	height: 100%;
	background: #0E1823;
}

.aligned-content {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

/* Navigation menu */

.nav-menu {
	background-color: #0E1823;
	height: 80px;
	/*
	position: fixed;
	*/
	width: 90%;
	top: 0;
	display: none;
	z-index: 10;
	display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu .logo-main img {
	max-height: 50px;
}

.nav-menu .sign-distinct {
	display: none;
	font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #fff;
}

.nav-menu .mobile-switcher {
	display: none;
	border: none;
    background: none;
    padding: 0;
    width: 30px;
    cursor: pointer;
}

.nav-menu .mobile-switcher span {
	width: 100%;
    height: 5px;
    background: #fff;
    display: block;
    padding: 0;
    margin: 5px 0;
}

.nav-menu .get-started {
	color: #fff;
	background: #484B50;
	display: block;
    width: 200px;
    padding: 16px 0;
    border-radius: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.nav-menu .get-started:hover {
	color: #484B50;
	background: #fff;
	text-decoration: none;
}
.nav-menu .navigate-links a {
	margin: auto 20px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: #fff;
}

/* Navigation menu */


/* Main section */

.main-section {
	text-align: center;
	color: #fff;
}

.main-section .main-header {
	font-size: 55px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.main-section .main-description {
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.main-section .main-remark {
	font-size: 18px;
	opacity: 0.5;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.main-section .stores-buttons {
	margin-top: 50px;
	margin-bottom: 100px;
}

.main-section .stores-buttons a img {
	width: 100%;
    max-width: 218px;
}
.main-section .line-section {
	width: 100%;
}
/* Main section */

.line-section {
	height: 1px;
	background: #fff;
	opacity: 0.2;
}

/* Choice section */

.choice-section {
	display: inline-block;
	width: 100%;
}

.choice-section .location-details {
	display: inline-flex;
	justify-content: space-between;
}

.choice-section .start-point {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 26px;
	margin-right: 30px;
}

.choice-section .destination-point {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 24px;
	margin-right: 30px;
}

.choice-section .start-point .position,
.choice-section .destination-point .position {
	display: inline-block;
	vertical-align: top;
	opacity: 0.5;
	font-weight: 300;
	padding-right: 20px;
}

.choice-section .start-point .address-data,
.choice-section .destination-point .address-data {
	display: inline-block;
	margin-top: 0;
	font-size: 26px;
}

.choice-section .start-point .address-data .city,
.choice-section .destination-point .address-data .city {
	display: block;
	opacity: 0.5;
	font-weight: 300;
	line-height: 3;
}

.choice-section .choice-information {
	display: inline-flex;
    justify-content: space-between;
    margin-top: 50px;
}

.choice-section .choice-information .information-data .info-list {
	padding: 0;
	list-style: none;
	width: 100%;
	max-width: 402px;
	text-align: justify;
	color: #fff;
	margin-top: 0;
}

.choice-section .choice-information .information-data .info-list .item-seprator {
	opacity: 0.5;
    font-size: 24px;
    vertical-align: text-bottom;
    padding: 0 5px;
}

.choice-section .choice-information .information-data .info-list li {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
	margin-bottom: 30px;
}
.choice-section .choice-information .information-data .info-list li span {
	opacity: 0.5;
}
.choice-section .choice-information .information-data .info-list li .line-breaker {
	width: 100%;
}

.choice-section .choice-menu {
	width: 90%;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    list-style: none;
    background: #121C27;
    margin-top: 100px;
}
.choice-section .choice-menu li {
	width: 22.5%;
	text-align: center;
	height: 75px;
	position: relative;
	border-bottom: 3px solid transparent;
}

.choice-section .choice-menu li a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	opacity: 0.2;
	width: 100%;
	display: inline-block;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
}
.choice-section .choice-menu li.selected-choice {
	border-bottom: 3px solid #2FCC71;
}
.choice-section .choice-menu li.selected-choice a {
	color: #2FCC71;
	opacity: 1;
}

.choice-section .choice-menu li:hover a {
	opacity: 1;
}

.choice-section .cars-class-choosen {
	display: none;
}

.choice-section .choice-submenu {
	margin-bottom: 50px;
}

.choice-section .choice-submenu .cars-list {
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 100px;
}

.choice-section .choice-submenu .cars-list .cars-list-item {
	width: 22.5%;
    background: rgba(255,255,255,0.2);
    padding-bottom: 20px;
    border-radius: 15px;
    position: relative;
    text-align: center;
}
.choice-section .choice-submenu .cars-list .cars-list-item a {
	text-decoration: none;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 22px;
	position: relative;
    z-index: 3;
}
.choice-section .choice-submenu .cars-list .cars-list-item img {
	width: 50%;
	display: inline-block;
	margin: auto;
	vertical-align: bottom;
}
.choice-section .choice-submenu .cars-list .cars-list-item a {
	display: block;
	height: 100%;
}
.choice-section .choice-submenu .cars-list .cars-list-item a .cars-header {
	display: block;
	margin: 10px auto 20px;
}
.choice-section .choice-submenu .cars-list .cars-list-item a .separator {
	display: inline-block;
    height: 50%;
    vertical-align: middle;
}
.choice-section .choice-submenu .cars-list .selected-car-item {
	background: #fff;
}
.choice-section .choice-submenu .cars-list .selected-car-item a {
	color: #0E1823;
}
.choice-section .choice-submenu .cars-list .selected-car-item::before {
	content: "";
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    bottom: -10px;
    margin: auto;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transform: rotate(315deg);
    z-index: 1;
}


/* Choice section */

/* Detailed choice */

.detailed-choice {
	display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detailed-choice .left-side {
	display: inline-block;
	width: 44%;
}

.detailed-choice .left-side .detailed-header {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 55px;
	font-weight: 900;
    margin-bottom: 20px;
}

.detailed-choice .left-side .detailed-description {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5;
}

.detailed-choice .left-side .features-list-mobile {
	display: none;
}

.detailed-choice .line-section {
	width: 100%;
	margin: 50px auto;
}
.detailed-choice .points-list {
	padding: 0;
	margin-left: -12px;
}
.detailed-choice .points-list .points-list-item {
	display: inline-block;
}

.detailed-choice .points-list .points-list-item span {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 20px;
	font-weight: 900;
	vertical-align: super;
}

.detailed-choice .points-list .points-list-item:before {
	content: '\00a0\2022\00a0\00a0';
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color:#fff;
	opacity: 0.2;
	font-size: 60px;
    vertical-align: sub;
}

.detailed-choice .right-side {
	display: inline-block;
	text-align: right;
}

.detailed-choice .right-side .continue-link {
	font-family: 'Lato', sans-serif;
	color: #2FCC71;
	font-size: 26px;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
    margin-top: 18px;
}

.detailed-choice .right-side .price-header {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color:#fff;
	font-size: 55px;
	margin-bottom: 20px;
}

.detailed-choice .right-side .price-header .price-currency {
	font-weight: 300;
}

.detailed-choice .right-side .price-details {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color:#fff;
	font-size: 24px;
	opacity: 0.5;
	height: 70px;
}
.detailed-choice .line-section-mobile {
	display: none;
}
/* Detailed choice */


/* Detailed choice subsection */

.detailed-choice-subsection {
	display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.detailed-choice-subsection .left-side {
	width: 49%;
}

.detailed-choice-subsection .left-side .features-list {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.detailed-choice-subsection .left-side .features-list .features-list-item {

}

.detailed-choice-subsection .left-side .features-list .features-list-item:before {
	content: '\00a0\2022\00a0\00a0';
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color:#fff;
	opacity: 0.2;
	font-size: 60px;
    vertical-align: sub;
}

.detailed-choice-subsection .left-side .features-list .features-list-item span {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	vertical-align: super;
}

.detailed-choice-subsection .right-side {
	display: inline-block;
    background: rgba(255,255,255,0.2);
    padding: 60px 0;
    width: 100%;
    max-width: 560px;
    height: 100%;
    text-align: center;
    border-radius: 15px;
}

.detailed-choice-subsection .right-side img {
	width: 100%;
	max-width: 440px;
}

/* Detailed choice subsection */


/* Footer */

footer {
	display: inline-block;
	width: 100%;
	background: #121C27;
}

footer p {
	color: #fff;
	opacity: 0.5;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

footer h3 {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 3;
}

footer .aligned-content {
	display: inline-flex;
	justify-content: space-between;
	padding-bottom: 50px;
}

footer .aligned-content .main-footer-section {
	width: 25%;
}

footer .aligned-content .main-footer-section .footer-logo {
	width: 100%;
	max-width: 45px;
}

footer .aligned-content .main-footer-section .stores-buttons {
	width: 95%;
}

footer .aligned-content .main-footer-section .stores-buttons .download-appstore {
	display: inline-block;
	float: left;
	width: 48%;
}

footer .aligned-content .main-footer-section .stores-buttons .download-googleplay {
	display: inline-block;
	float: right;
	width: 48%;
}

footer .aligned-content .main-footer-section .stores-buttons .download-googleplay img,
footer .aligned-content .main-footer-section .stores-buttons .download-appstore img {
	width: 100%;
}

footer .aligned-content .main-footer-section .main-text {
	margin-bottom: 15%;
}

footer  .aligned-content .subscribe-footer-section {
	width: 25%;
}

footer .aligned-content .subscribe-footer-section input {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #0E1823;
    border: 1px solid rgba(255,255,255,0.05);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 40px;
    padding-left: 10px;
    float: left;
    display: inline-block;
    width: 60%;
}

footer  .aligned-content .subscribe-footer-section button {
	background: #484B50;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
    border: none;
    height: 44px;
    width: 34%;
    display: inline-block;
    float: left;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

footer  .aligned-content .subscribe-footer-section .media-links {
	display: inline-block;
    width: 98%;
    margin-top: 35px;
    text-align: right;
}

footer  .aligned-content .subscribe-footer-section .media-links a {
	background: #484B50;
	padding: 7px;
	border-radius: 16px;
	margin-left: 15px;
}

footer  .aligned-content .subscribe-footer-section .media-links img {
	width: 16px;
	vertical-align: text-bottom;
}

footer .footer-bottom {
	background: #0E1823;
	display: inline-flex;
	justify-content: space-between;
	width: 90%;
	padding: 0 5%;
	align-items: center;
}

footer .footer-bottom a {
	text-decoration: none;
	color: #fff;
}

footer .footer-bottom .left-side {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	display: inline-block;
}

footer .footer-bottom .right-side {
	display: inline-block;
}

footer .footer-bottom .right-side ul li {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	display: inline-block;
}

footer .footer-bottom .right-side ul li:not(:first-child)::before {
	content: '\00a0\2022\00a0\00a0';
	font-family: 'Lato', sans-serif;
	color:#fff;
}

/* Footer */

@media screen and (min-width: 1800px) {
	footer .aligned-content .subscribe-footer-section input {
		width: 72%;
	}
}

@media screen and (max-width: 1280px) {
	.detailed-choice-subsection .right-side {
		width: 49%;
		max-width: none;
	}
	.choice-section .location-details {
		display: inline-block;
	}
	.choice-section .choice-information .information-data .info-list li {
		display: block;
		text-align: right;
	}
	.choice-section .choice-information .information-data .info-list .item-seprator {
		display: none;
	}
	.detailed-choice-subsection .left-side .features-list .features-list-item span {
		font-size: 16px;
	}
	footer .aligned-content .subscribe-footer-section {
		width: 30%;
	}
}

@media screen and (max-width: 940px) {
	.choice-section .choice-submenu .cars-list {
		width: 100%;
	}
	.choice-section .choice-submenu .cars-list .cars-list-item img {
		display: none;
	}
	.choice-section .choice-submenu .cars-list .selected-car-item img {
		display: inline-block;
	}
	.choice-section .choice-submenu .cars-list .cars-list-item a .separator {
		display: none;
	}
	.choice-section .choice-submenu .cars-list .selected-car-itemm a .separator {
		display: inline-block;
	}
	.choice-section .choice-submenu .cars-list .cars-list-item:not(.selected-car-item) a .cars-header {
		position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    font-size: 15px;
	}
	.choice-section .choice-submenu .cars-list .selected-car-item a .cars-header {
		position: static;
		font-size: 15px;
	}
}

@media screen and (max-width: 768px) {
	.nav-menu .get-started {
		display: none;
	}
	.nav-menu .sign-distinct {
		display: block;
	}
	.nav-menu .mobile-switcher {
		display: block;
	}
	.nav-menu.active {
		overflow: visible;
	}
	.nav-menu.active .navigate-links {
		animation: expandmenu 0.3s 1 ease-in-out forwards
	}
	.nav-menu.unactive .navigate-links {
		animation: releasemenu 0.6s 1 ease-in-out forwards
	}
	.main-section .main-header {
		font-size: 45px;
	}
	.choice-section .start-point,
	.choice-section .destination-point,
	.choice-section .start-point .address-data,
	.choice-section .destination-point .address-data {
		font-size: 16px;
	}

	.choice-section .start-point .address-data .place,
	.choice-section .destination-point .address-data .place {
		font-size: 18px;
	}

	.choice-section .choice-information .information-data .info-list li {
		font-size: 16px;
	}

	.detailed-choice .left-side .detailed-header {
		font-size: 36px;
	}

	.detailed-choice .left-side .detailed-description {
		font-size: 16px;
	}

	.detailed-choice .points-list .points-list-item span {
		font-size: 16px;
	}

	.detailed-choice .right-side .price-header {
		font-size: 36px;
	}

	.detailed-choice .right-side .price-details {
		font-size: 16px;
	}

	.detailed-choice .right-side .continue-link {
		font-size: 22px;
		margin-top: 4px;
	}

	.detailed-choice-subsection .right-side {
		padding: 40px 0;
		margin-top: 20px;
	}

	.detailed-choice-subsection .right-side img {
		max-width: 240px;
	}

	.detailed-choice-subsection .left-side {
		width: 38%;
	}

	.detailed-choice-subsection .left-side .features-list .features-list-item span {
		display: inline-block;
		vertical-align: inherit;
	}

	.nav-menu {
		overflow: hidden;
		position: relative;
	}
	.nav-menu .navigate-links {
		width: 100%;
	    position: absolute;
	    left: 0;
	    top: 80px;
	    opacity: 0;
	}
	.nav-menu .navigate-links a {
		display: block;
	    width: 100%;
	    background: #0E1823;
	    margin: 0;
	    text-align: center;
	    border-bottom: 1px solid #fff;
	    padding: 5px 0;
	}
	.nav-menu.dropped {
		overflow: visible;
	}
	.nav-menu.dropped .navigate-links {
		opacity: 1;
	}
	footer .aligned-content {
		display: none;
	}
}

@media screen and (max-width: 680px) {
	.choice-section .choice-submenu .cars-list .selected-car-item img {
		display: none;
	}
	.choice-section .choice-submenu .cars-list .cars-list-item a .separator {
		display: none;
	}
	.choice-section .choice-submenu .cars-list .selected-car-item::before {
		display: none;
	}

	.choice-section .choice-submenu .cars-list .cars-list-item a .cars-header {
		position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	    font-size: 15px;
	}
}

@media screen and (max-width: 620px) {
	.main-section .main-header {
		font-size: 28px;
	}
	.main-section .main-description,
	.main-section .main-remark {
		font-size: 16px;
	}
	.choice-section .choice-submenu .cars-list .cars-list-item:nth-of-type(3) {
		width: 30%;
	}
	.choice-section .choice-information {
		display: block;
	}
	.choice-section .location-details {
		display: block;
		text-align: center;
	}
	.choice-section .information-data {
		display: block;
		text-align: center;
	}
	.choice-section .start-point {
		margin: 0;
	}
	.choice-section .destination-point {
		margin: 0;
	}
	.choice-section .choice-information .information-data .info-list {
		max-width: none;
		margin-top: 30px;
	}
	.choice-section .choice-information .information-data .info-list li {
		text-align: center;
	}
	.choice-section .start-point .position, 
	.choice-section .destination-point .position {
		display: block;
		padding-bottom: 15px;
		padding-right: 0;
	}

	.detailed-choice-subsection {
		flex-direction: column-reverse;
	}
	.choice-section .cars-class-choosen {
		display: block;
		width: 100%;
		max-width: 250px;
	    background: rgba(255,255,255,0.2);
	    padding-bottom: 20px;
	    border-radius: 15px;
	    position: relative;
	    text-align: center;
	    margin: auto;
	    margin-bottom: 20px;
	}

	.choice-section .cars-class-choosen a {
		text-decoration: none;
	    color: #fff;
	    font-family: 'Lato', sans-serif;
	    font-weight: 700;
	    font-size: 22px;
	    position: relative;
	    z-index: 3;
	    display: block;
    	height: 100%;
	}
	.choice-section .cars-class-choosen a .cars-header {
		display: block;
    	margin: 10px auto 20px;
    	padding-top: 10px;
	}
	.choice-section .cars-class-choosen a .separator {
		display: inline-block;
	    height: 50%;
	    vertical-align: middle;
	}
	.choice-section .cars-class-choosen img {
		width: 60%;
	    display: inline-block;
	    margin: auto;
	    vertical-align: bottom;
	}
	.choice-section .choice-menu li a {
		font-size: 16px;
	}
	.choice-section .choice-submenu .cars-list {
		margin-top: 20px;
		min-width: 450px;
	}
	.choice-section .choice-submenu {
		margin-bottom: 20px;
		overflow: scroll;
	}
	.detailed-choice .left-side {
		display: inline-block;
	    width: 80%;
	    text-align: center;
	    margin: auto;
	}
	.choice-section .line-section {
		display: none;
	}
	.detailed-choice .right-side {
		text-align: center;
		width: 100%;
	}
	.detailed-choice .left-side .detailed-header {
		display: none;
	}
	.detailed-choice .left-side .features-list-mobile {
		display: inline-block;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}
	.detailed-choice .left-side .features-list-mobile .features-list-item {
		margin: 15px auto;
	}
	.detailed-choice .left-side .features-list-mobile .features-list-item span {
		font-family: 'Lato', sans-serif;
	    color: #fff;
	    font-size: 16px;
	    font-weight: 300;
	    display: inline-block;
	}
	.detailed-choice .right-side .price-details {
		height: auto;
	}
	.detailed-choice .line-section-mobile {
		width: 100%;
    	margin: 10px auto;
		height: 1px;
	    background: #fff;
	    opacity: 0.2;
	    display: block;
	}
	.detailed-choice-subsection {
		display: none;
	}
	footer .footer-bottom {
		display: block;
		text-align: center;
	}
	footer .footer-bottom .right-side ul {
		padding: 0;
	}
}

@keyframes expandmenu {
	0% {opacity: 0}
	100% {opacity: 1}
}

@-webkit-keyframes expandmenu {
	0% {opacity: 0}
	100% {opacity: 1}
}

@keyframes releasemenu {
	0% {opacity: 1}
	100% {opacity: 0}
}

@-webkit-keyframes releasemenu {
	0% {opacity: 1}
	100% {opacity: 0}
}